@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.text-center{
    text-align: center;
}


.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.animation{
    border-radius: 20px;
    width: 400px;
    height: 100px;
    background-color: red;
    margin: 10px auto;
}

.tag{
    font-weight: normal;
}